/*
||----------------------------------||
||									||
||    Sunsick Studio 				||
||	  Navigation Styles.    		||
||	  Alex Meza (Meza Web Lab)  	||
||	  2018					  		||
||									||
||----------------------------------||
*/

#navigation {
	padding-top    : 30px;
	padding-bottom : 30px;
	transition     : get-transitions($responsive-transition-duration, padding-bottom, padding-top);

	@media (min-width : $breakpoint-md) {
		padding-bottom : 60px;
		padding-top    : 50px;
	}

	.logo {
		width      : 80px;
		transition : get-transitions($responsive-transition-duration, width);;

		@media (min-width : $breakpoint-md) {
			width : 115px;
		}
	}

	.desktop {
		white-space : nowrap;

		button {
			margin-top : 15px;
			border     : none !important;
			display    : inline-block;
		}

		.menu {
			display     : inline-block;
			white-space : nowrap;
			float       : right;

			@media (min-width : $breakpoint-md) {
				margin-top : 20px;
			}

			a {
				margin      : 0px  15px 0px 15px;
				color       : $white;
				font-weight : 200 !important;

				&:hover,
				&:focus,
				&:active,
				&.active {
					color           : $color-primary;
					text-decoration : none;
				}
			}
		}
	}

	.mobile {
		white-space : nowrap;
		float       : right;

		button {
			margin-top  : 15px;
			border      : none !important;
			display     : inline-block;

			&.burger {
				background : none;
			}
		}

		.menu {
			width      : 100vw;
			height     : 100vh;
			top        : 0px;
			left       : 0px;
			position   : fixed;
			background : rgb(25, 25, 25);
			z-index    : 100000;
			
			&.fade-enter-active,
			&.fade-leave-active {
				transition : get-transitions(0.25s, opacity);
			}

			&.fade-enter, 
			&.fade-leave-to {
				opacity : 0;
			}

			button {
				position : absolute;
				top      : 15px;
				right    : 15px;

				img {
					width : 50px;
				}
			}

			.links {
				text-align : center;
				transform  : translate(0, -50%);
				top        : 50%;
				position   : relative;

				a {
					color          : $white;
					padding-top    : 25px;
					padding-bottom : 25px;
					margin         : 0px;
					display        : block;
					font-weight    : 700;
					font-size      : 2em;
					transition     : get-transitions(0.25s, background-color, color);

					@media (max-height : 650px) {
						padding-top    : 20px;
						padding-bottom : 20px;
					}

					&:focus,
					&:active,
					&:hover {
						background-color : $color-primary;
						// color            : rgb(0, 0, 0);
						text-decoration  : none !important;
					}

					&.active {
						background-color : $color-primary;
						text-decoration  : none !important;
						// color            : rgb(0, 0, 0);
					}
				}
			}

			.logo {
				width    : 50px;
				position : absolute;
				bottom   : 15px;
				left     : 15px;
			}

			.credits {
				position    : absolute;
				text-align  : right;
				color       : $white;
				bottom      : 15px;
				right       : 15px;
				font-size   : 0.8em;
				font-weight : $font-weight-p;

				a {
					color : $white;
				}
			}
		}
	}
}