/*
||----------------------------------||
||									||
||    Sunsick Studio 				||
||	  Player Styles         		||
||	  Alex Meza (Meza Web Lab)  	||
||	  2018					  		||
||									||
||----------------------------------||
*/

#player {
	padding    : 25px;
	width      : 100%;
	height     : 340px;
	max-width  : 400px;
	box-shadow : $box-shadow-main;
	transform  : translate(-50%, 0);
	left       : 50%;
	position   : relative;
	margin-top : 45px;
	background : linear-gradient(180deg, rgba(56, 56, 56, 0.8), rgba(0, 0, 0, 0.7));
	transition : get-transitions($responsive-transition-duration, height);

	@media (min-width : $breakpoint-md) {
		max-width  : none;
		transform  : translate(0, 0);
		left       : auto;
		margin-top : 0px;
		height     : 250px;
	}

	@media (min-width : $breakpoint-xmd) {
		height : 300px;
	}

	@media (min-width : $breakpoint-lg) {
		height : 340px;
	}

	.screen {
		height   : 100%;
		position : relative;

		.controllers {
			width       : 100%;
			margin-top  : 25px;
			text-align  : center;
			white-space : nowrap;

			@media (min-width : $breakpoint-md) {
				margin-top : 15px;
			}

			button {
				display    : inline-block;
				border     : none !important;
				cursor     : pointer;
				transition : get-transitions(0.25s, transform);

				&.disabled {
					filter : grayscale(80%);
				}

				&:hover {
					transform : scale(1.05);
				}

				&:active,
				&:hover,
				&:focus {
					outline : none !important;
				}
			}
		}

		.header {
			display               : grid;
			grid-template-columns : 50% 50%;

			.artwork {
				div {
					width        : 150px;
					position     : relative;
					margin-right : 0px;
					margin-left  : auto;

					@media (min-width : $breakpoint-md) {
						width        : 100%;
						margin-right : auto;
						margin-left  : auto;
					}

					img:nth-child(1) {
						width : 100%;
					}

					img:nth-child(2) {
						position  : absolute;
						top       : 50%;
						left      : 50%;
						transform : translate(-50%, -50%);
					}
				}
			}

			.info {
				padding-left : 15px;
				position     : relative;

				@media (min-width : $breakpoint-md) {
					// padding-left : 0px;
				}

				.content {
					margin-top : 10px;
					display    : table;
					transform  : translate(0, -50%);
					top        : 50%;
					position   : relative;

					@media (min-width : $breakpoint-md) {
						margin-top  : 5px;
						display     : block;
						transform   : none;
						top         : auto;
					}

					@media (min-width : $breakpoint-xmd) {
						top    : auto;
						bottom : 5px;
					}

					.controllers {
						display : none;

						@media (min-width : $breakpoint-md) {
							display : block;
						}
					}

					p {
						color : $white;

						@media (min-width : $breakpoint-md) {
							margin-bottom : 10px;
						}

						@media (min-width : $breakpoint-xmd) {
							margin-bottom : 1rem;
						}

						&:nth-child(1) {
							font-weight : 700;
						}
					}
				}
			}
		}

		.body {
			width : 100%;

			.controllers {
				@media (min-width : $breakpoint-md) {
					display : none;
				}
			}
		}

		.footer {
			padding-top : 50px;
			text-align  : center;

			@media (min-width : $breakpoint-md) {
				padding : 15px;
			}

			p {
				color      : $white;
				font-style : italic;
				display    : inline-block;
			}

			img {
				display       : inline-block;	
				border-radius : 20px;
				transition    : get-transitions(0.25s, background, transform);
				cursor        : pointer;

				&:hover {
					background : $color-primary;
					transform  : scale(1.05);
				}
			}

			.disclaimer {
				p {
					font-size   : 0.65em;
					font-style  : italic;
					font-weight : 200;
					margin-top  : 20px;
				}
			}
		}

		.credits {
			display : none; 

			// @media (min-width : $breakpoint-md) {
			// 	color       : white;
			// 	text-align  : right;
			// 	position    : absolute;
			// 	bottom      : 0px;
			// 	width       : 100%;
			// 	font-size   : 0.8em;
			// 	display     : block;

			// 	p {
			// 		top      : 20px;
			// 		position : relative;
			// 	}
			// }
		}

		.ps__rail-y,
		.ps__rail-x {
			display : none;
		}

		&.now-playing {
			.footer {
				cursor : pointer;

				@media (min-width : $breakpoint-xmd) {
					padding-top : 35px;
				}

				div p {
					padding-right : 5px;
					position      : relative;
					top           : -2px;
				}
			}
		}

		&.discography {
			.header {
				display               : grid;
				grid-template-columns : 10% 30% 30% 30%;
				font-weight           : 200;
				font-size             : 0.7em;
				padding-left          : 30px;
				margin-bottom         : 10px;
				color                 : $white;

				div {
					opacity : 0.5;
				}
			}

			.body {
				height     : 208px;
				overflow-y : hidden;

				@media (min-width : $breakpoint-md) {
					height : 128px;
				}

				@media (min-width : $breakpoint-xmd) {
					height : 155px;
				}

				@media (min-width : $breakpoint-lg) {
					height : 190px;
				}

				.song {
					color                 : $white;
					cursor                : pointer;
					font-weight           : 200;
					display               : grid;
					font-size             : 0.75em;
					white-space           : nowrap;
					padding               : 12px 15px 12px 15px;
					border-top            : 1px solid rgba(75, 75, 75, 0.5);
					grid-template-columns : 10% 30% 30% 30%;

					&:first-child {
						border-top    : none;
					}

					&:hover {
						background :rgba(150, 150, 150, 0.1);
					}

					img {
						width : 100%;

						&.active {
							border : 2px solid $color-primary;
						}
					}

					.song-title,
					.song-artist,
					.song-album {
						display     : flex;
						margin-left : 15px;
						align-items : center;
						overflow-x  : hidden;
					}
				}
			}

			.footer {
				cursor      : pointer;

				div p {
					padding-left : 5px;
					position     : relative;
					top          : -2px;
				}
			}
		}
	}

	&.expanded {
		height : 600px;

		.screen {
			height   : 100%;
			position : relative;

			.footer {
				padding-top : 50px;
			}

			&.discography {
				.body {
					height : 370px;
	
					@media (min-width : $breakpoint-xmd) {
						height : 395px;
					}
				}

				.footer {
					padding-top : 25px;
				}
			}

			&.now-playing {
				.header {
					display : block;
	
					.artwork {
						img:nth-child(1) {
							width     : 100%;
							margin    : 0 auto;
							display   : block;
							max-width : 250px;
						}
					}

					.info {
						.content {
							padding-top : 20px;
							text-align  : center;
						}
					}
				}
			}
		}

		.credits {
			display : none;

			@media (min-width : $breakpoint-md) {
				color      : white;
				text-align : center;
				position   : absolute;
				bottom     : 0px;
				width      : 100%;
				font-size  : 0.9em;
				display    : block;

				p {
					top      : 0px;
					position : relative;
				}
			}
		}
	}
}