/*
||----------------------------------||
||									||
||    Sunsick Studio 				||
||	  Gear Styles           		||
||	  Alex Meza (Meza Web Lab)  	||
||	  2018					  		||
||									||
||----------------------------------||
*/

#gear {
	.dot {
		width         : 6px;
		height        : 6px;
		border-radius : 3px;
		background    : $color-primary;
		margin        : 0 auto;
		top           : 7px;
		position      : relative;
	}

	.margin-top {
		margin-top : 40px;
	}

	.equipment-lists {
		color : $white;

		.dash {
			color       : $color-primary;
			font-weight : 900;
		}

		.equipment {
			font-weight : 200;
			font-size   : 0.8em;
		}

		ul {
			padding-left  : 0px;
			margin-bottom : 0px;
		}

		li {
			list-style : none;
		}
	}
}