/*
||----------------------------------||
||									||
||    Sunsick Studio 				||
||	  Our Work Styles         		||
||	  Alex Meza (Meza Web Lab)  	||
||	  2018					  		||
||									||
||----------------------------------||
*/

#our-work {
	.music-slider {
		width : 100%;

		.slick-arrow {
			position  : absolute;
			border    : none;
			transform : translate(0, -50%);
			top       : 41%;
			z-index   : 10;

			&:focus,
			&:hover,
			&:active {
				outline : none;
			}

			&.slick-disabled {
				filter : brightness(20%)
			}

			&.slick-next {
				right : 0;
			}
		}

		.album {
			&:focus,
			&:hover,
			&:active {
				outline : none;
			}

			.artwork {
				margin              : 0 auto;
				background-size     : cover;
				background-position : 50% 50%;
				cursor              : pointer;

				&:active,
			    &:hover {
			    	img {
			    		opacity : 1;
			    	}
			    }

				img {
					position   : relative;
					transform  : translate(-50%, -50%);
				    left       : 50%;
				    top        : 50%;
				    opacity    : 0;
				    cursor     : pointer;
				    transition : get-transitions(0.25s, opacity);
				}
			}

			.name {
				text-align  : center;
				color       : $white;
				font-weight : 200;
				margin-top  : 15px;
			}

		}

		&.music-slider-mobile {
			.album {
				.artwork {
					width  : 215px;
					height : 215px;
				}

				.name {
					font-size : 1.1em;
				}	
			}
		}

		&.music-slider-desktop {
			.slick-slide {
				&:hover,
				&:focus,
				&:active {
					outline : none;
				}
			}

			.slick-slide > div {
				width      : 90%;
				margin     : 0 auto;
				transition : get-transitions($responsive-transition-duration, width);

				@media (min-width : $breakpoint-lg) {
					width : 85%;
				}
			}

			.album {
				margin-bottom : 50px;

				.artwork {
					width      : 75px;
					height     : 75px;
					transition : get-transitions($responsive-transition-duration, width, height);

					@media (min-width : $breakpoint-xmd) {
						width  : 115px;
						height : 115px;
					}

					@media (min-width : $breakpoint-lg) {
						width  : 145px;
						height : 145px;
					}
				}

				.name {
					font-size  : 0.9em;
					transition : get-transitions($responsive-transition-duration, font-size);

					@media (min-width : $breakpoint-xmd) {
						font-size : 1em;
					}
				}
			}
		}
	}
}