/*
||----------------------------------||
||									||
||    Sunsick Studio 				||
||	  Services Styles         		||
||	  Alex Meza (Meza Web Lab)  	||
||	  2018					  		||
||									||
||----------------------------------||
*/

#services {
	.content {
		.dot {
			width         : 6px;
			height        : 6px;
			border-radius : 3px;
			background    : $color-primary;
			margin        : 0 auto;
			top           : 7px;
			position      : relative;
		}

		h4 {
			font-weight : 700;
		}

		.row {
			&:nth-child(1),
			&:nth-child(2) {
				margin-bottom : 20px;
			} 
		}
	}
}