/*
||----------------------------------||
||									||
||    Sunsick Studio 				||
||	  Global Style Layout   		||
||	  Alex Meza (Meza Web Lab)  	||
||	  2018					  		||
||									||
||----------------------------------||
*/

p {
	font-weight : $font-weight-p;
	line-height : $m-line-height-p;
	font-size   : $m-font-size-p;

	&.white {
		color : $white;
	}

	&.dark-gray {
		color : $black;
	}
}

body {
	overflow-x : hidden;

	&.mobile {
		p {
			font-weight : $font-weight-p-2;
		}
	}

	&.desktop {
		p {
			font-weight : $font-weight-p;
		}
	}
}

p,
a,
button {
	font-family    : $font-family !important;
	background     : none;
	letter-spacing : $letter-spacing;
}

button {
	cursor : pointer;

	&:hover,
	&:active,
	&:focus {
		outline : none !important;
	}
}

a {
	color : $white;

	&:hover,
	&:active,
	&:focus {
		text-decoration : none;
	}
}

.scroll-lock {
	overflow-y : hidden !important;
	overflow-x : hidden !important;
}

h1 {
	font-size      : $m-font-size-h1;
	line-height    : $m-line-height-h1;
	letter-spacing : $letter-spacing;
	color          : $white !important;
	text-shadow    : $text-shadow-main;
	line-height    : $m-line-height-h1;

	@media (min-width : $breakpoint-md) {
		font-size   : $d-font-size-h1;
		line-height : $d-line-height-h1;
	}

	span {
		color : $color-primary;
	}
}

h4 {
	letter-spacing : $letter-spacing;
	font-size      : $m-font-size-h4;
}

.divider {
	width         : 125px;
	height        : 5px;
	background    : $color-primary;
	margin        : 0 auto;
	margin-top    : 50px;
	margin-bottom : 50px;

	&.alt {
		margin-left   : 10px;
		margin-top    : 30px;
		margin-bottom : 30px;
	}
}

#router-view {
	margin-top : 25px;

	@media (min-width : $breakpoint-md) {
		margin-top : 0px;
	}
}

.button-main {
	padding       : 10px 15px 10px 15px;
	border-radius : 100px;
	background    : $color-primary;
	border        : none;
	color         : #fff;
	text-shadow   : 0px 1px 4px rgba(0, 0, 0, 1);
	box-shadow    : 0px 2px 4px rgba(0, 0, 0, 0.5);
	font-weight   : bold;
}

#background {
	width               : 100vw;
	height              : 100vh;
	position            : fixed;
	top                 : 0px;
	left                : 0px;
	background-image    : url("images/background.png");
	background-position : 30% 50%;
	background-size     : cover;
	z-index             : -1;

	#granim {
		width    : 100vw;
		height   : 50vh;
		position : absolute;
		left     : 0px;
		bottom   : 0px;
	}

	.overlay {
		width      : 100%;
		height     : 100%;
		position   : absolute;
		top        : 0px;
		left       : 0px;
		background : rgba(15, 15, 15, 0.75);
	}
}

#fixed-flag {
	width      : 100vw;
	height     : 10px;
	background : $color-primary;
	position   : fixed;
	bottom     : 0px;
	left       : 0px;
	// filter     : drop-shadow(0px -2px 6px rgba(0, 0, 0, 0.5));

	.flag-content {
		position               : absolute;
		right                  : 0;
		bottom                 : 10px;
		background             : $color-primary;
		padding                : 10px 5px 0px 5px;
		display                : grid;
		grid-template-columns  : 25% 25% 50%;
		border-top-left-radius : 10px;

		img {
			width   : 30px;
			margin  : 0 auto;
			display : block;
		}

		.credits {
			text-align  : center;
			color       : $white;
			font-weight : 200;
			font-size   : 0.75em;
		}
	}
}

.social-links {
	display               : grid;
	grid-template-rows    : 50px 50px;
	grid-template-columns : 50px;
	position              : fixed;
	bottom                : 50px;
	right                 : 0px;
	box-shadow            : 0px 2px 16px rgba(0, 0, 0, 0.3);
	cursor                : pointer;

	.top {
		background : #3b5998;

		img {
			transform : translate(-50%, -50%);
			left      : 50%;
			top       : 50%;
			position  : relative;
		}
	}

	.bottom {
		background : #e95950;

		img {
			transform : translate(-50%, -50%);
			left      : 50%;
			top       : 50%;
			position  : relative;
		}
	}
}

.page-title {
	width          : 100%;
	padding-top    : 50px;
	padding-bottom : 50px;
	background     : linear-gradient(180deg, rgba(219, 171, 11, 0.45), rgba(219, 171, 11, 0.1));
	text-align     : center;
	box-shadow     : $box-shadow-main;
	transition     : get-transitions($responsive-transition-duration, padding-top, padding-bottom);

	@media (min-width : $breakpoint-md) {
		text-align     : left;
		background     : none;
		box-shadow     : none;
		padding-top    : 0px;
		padding-bottom : 0px;
	}

	h1 {
		margin : 0;
	}
}

.content {
	margin-top : 50px;

	@media (min-width : $breakpoint-md) {
		margin-top : 15px;
	}
}

#app {
	overflow-x : hidden;
	overflow-y : hidden;

	@media (min-width : $breakpoint-md) {
		margin-bottom : 100px;
	}

	.side-slide-enter-active {
		animation-name     : slide-enter;
		animation-duration : 0.5s;
		// animation-delay    : 0.25s;
		opacity            : 0;
	}

	.side-slide-leave-active {
		animation-name     : slide-leave;
		animation-duration : 0.5s;
		// animation-delay    : 0.25s;
	}
}

@keyframes slide-enter {
	0% {
		transform : translateX(-100vw);
		opacity   : 0;
	}
	100% {
		transform : translateX(0vw);
		opacity   : 1;
	}
}

@keyframes slide-leave {
	0% {
		transform : translateX(0);
	}
	100% {
		transform : translate(100vw);
		opacity   : 0;
	}
}
