/*
||----------------------------------||
||									||
||    Sunsick Studio 				||
||	  Global Style Settings  		||
||	  Alex Meza (Meza Web Lab)  	||
||	  2018					  		||
||									||
||----------------------------------||
*/

/*
||--------------------------||
||	       Palette 	    	||
||--------------------------||
*/

$color-primary : #DBAB0B;
$white         : rgb(250, 250, 250);

/*
||--------------------------||
||	      Typography 	   	||
||--------------------------||
*/

$font-family : "Roboto", helvetica, sans-serif;
