/*
||----------------------------------||
||									||
||    Sunsick Studio 				||
||	  Global Style Settings  		||
||	  Alex Meza (Meza Web Lab)  	||
||	  2018					  		||
||									||
||----------------------------------||
*/

/*
||--------------------------||
||	     Breakpoints     	||
||--------------------------||
*/
$breakpoint-md : 768px;

/*
||--------------------------||
||	       Palette 	    	||
||--------------------------||
*/

$color-primary : #DBAB0B;
$white         : rgb(250, 250, 250);
$black         : rgb(50, 50, 50);

/*
||--------------------------||
||	      Typography 	   	||
||--------------------------||
*/

$font-family      : "Roboto", helvetica, sans-serif;
$letter-spacing   : 1px;
$font-weight-p    : 200;
$text-shadow-main : 0px 2px 5px rgba(0, 0, 0, 0.5);
$m-font-size-h1   : 2em;
$m-font-size-p    : 0.9em;
$m-line-height-h1 : 40px;
$m-line-height-p  : 23px;


/*
||--------------------------||
||	       Effects    	   	||
||--------------------------||
*/

$box-shadow-main : 0px 2px 4px rgba(0, 0, 0, 0.5);